@model StudentManagementSystem.Data.Kullanici

@{
    ViewData["Title"] = "Yönetici Girişi";
}

<h2>Yönetici Girişi</h2>

<form  asp-action="YoneticiGiris" method="post">
    <div class="form-group">
        <label asp-for="Eposta"></label>
        <input asp-for="Eposta" class="form-control" />
        <span asp-validation-for="Eposta" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Sifre"></label>
        <input asp-for="Sifre" type="password" class="form-control" />
        <span asp-validation-for="Sifre" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>

    @if (ViewBag.Hata != null)
    {
        <div class="alert alert-danger mt-3">@ViewBag.Hata</div>
    }
    <p>Hata Mesajı: @ViewBag.Hata</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
